.container{
    margin: 50px auto;
    max-width: 1024px;
    padding-left: 42px;
    padding-right: 42px;

    @include pad(){
        padding-left: 24px;
        padding-right: 24px;
    }

    @include phone-l(){
        padding-left: 16px;
        padding-right: 16px;
    }
}

@import 'index-content';