/* 會員註冊頁 */
.register>.container{
    flex-direction: column;
}

.registerMain{
    margin-top: 35px;
    border-top: 3px solid $btn-border-color;
    width: 70%;
    box-shadow: $form-shadow;

    @include phone-l(){
        width: 80%;
    }
}

.registerForm{
    display: flex;
    justify-content: space-between;

    @include pad(){
        justify-content: center;
    }

    @include phone-l(){
        flex-direction: column;
        align-items: center;
    }

    form{
        width: 50%;
        padding: 0 15px;

        @include pad(){
            width: 50%;
        }

        @include phone-l(){
            width: 100%;
        }

    }
}

.terms{
    width: 50%;
    padding: 0 15px;
    margin-top: 16px;

    @include phone-l(){
        width: 100%;
        margin-bottom: 15px;
    }
}

.registerButton{
    margin-top: 21px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @include phone-l(){
        margin-bottom: 0;
    }

    button{
        width: 45%;

        @include phone-l(){
            width: 100%;
        }
    }
}